body {
  font-family: Arial;
  background: #f5f7ff;
  padding: 15px;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #00c853;
  color: white;
  border: none;
  font-weight: bold;
}

.notify {
  background: #2962ff;
}
